/* Establece la fuente y el estilo base para el cuerpo del documento */
body {
  font-family: "Lato", sans-serif;
  font-weight: 900; /* Aplica Lato Bold */
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative; /* Contenedor relativo para las flechas absolutas */
}

/* Estilo para el título principal */
h1 {
  color: #333;
}

/* Estilos generales para todas las tablas */
table {
  height: 70vh;
  width: 70%; /* Ancho de las tablas */
  border-collapse: collapse; /* Elimina el espacio entre bordes de celdas */
  margin-bottom: 20px; /* Espacio debajo de cada tabla */
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  table {
    width: calc(100% - 25%);
  }
}

/* Estilo para los títulos de las tablas */
caption {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Centra el texto en los elementos caption */
  color: #333;
}

/* Estilos para las celdas de las tablas */
th,
td {
  border: 1px solid #000; /* Borde de las celdas */
  padding: 10px;
  text-align: center; /* Centra el texto en los elementos th y td */
  color: #333;
}

/* Estilo para el encabezado de las tablas */
thead {
  background-color: #f2f2f2; /* Color de fondo para el encabezado de las tablas */
}

/* Estilos para las tablas ocultas */
.hidden-table {
  border: 1px solid #000; /* Equivalente a border="1" */
  padding: 5px; /* Equivalente a cellpadding="5" */
  border-spacing: 0; /* Equivalente a cellspacing="0" */
  display: none; /* Oculta la tabla */
  margin: 0 auto; /* Centra la tabla horizontalmente */
}

/* Contenedor para el botón de refrescar */
.button-container {
  text-align: center; /* Centra el botón de refrescar */
  margin-top: 10px;
}

/* Contenedor para las flechas de navegación */
.table-navigation {
  position: absolute; /* Posiciona las flechas absolutamente dentro del contenedor de las tablas */
  top: 50%; /* Centra las flechas verticalmente */
  width: 100%; /* Asegura que el contenedor de navegación tenga el ancho completo */
  transform: translateY(-50%); /* Ajuste fino del centrado vertical */
  display: flex;
  justify-content: space-between; /* Espacia las flechas a los extremos */
}

/* Estilos para las flechas de navegación */
.arrow {
  max-width: 32px; /* Tamaño de las flechas */
  cursor: pointer; /* Cambia el cursor a puntero cuando se pasa sobre las flechas */
  position: absolute; /* Posicionamiento absoluto para las flechas */
  top: 50%; /* Centrado vertical */
  transform: translateY(-50%); /* Ajuste fino del centrado vertical */
  max-width: 32px; /* Tamaño de las flechas */
}

/* Estilos específicos para la flecha izquierda */
.left-arrow {
  padding-left: 10px; /* Espaciado desde el lado izquierdo */
  left: 0; /* Alinea la flecha izquierda al borde izquierdo */
}

/* Estilos específicos para la flecha derecha */
.right-arrow {
  padding-right: 10px; /* Espaciado desde el lado derecho */
  right: 0; /* Alinea la flecha derecha al borde derecho */
}

/* Deshabilita eventos de clic en el contenedor table-navigation */
.table-navigation {
  pointer-events: none; /* Deshabilita todos los eventos de puntero */
}

/* Habilita eventos de clic en las flechas de navegación */
.table-navigation .arrow {
  pointer-events: auto; /* Habilita eventos de puntero solo para las flechas */
}

/* Cambia el color del check dentro del checkbox */
input[type="checkbox"]:checked {
  accent-color: #12372a;
}

/* Ajustes adicionales para el contenedor de las tablas */
#rutina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para el botón de refrescar */
#refreshButton {
  margin-bottom: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #12372a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  width: 70%; /* Ancho del botón */
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  #refreshButton {
    width: calc(100% - 20%);
  }
}
